.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content .logo-ibmec {
    margin-top: 10px;
    width: 100px;
    height: auto;
}
