body{
    display: flex;
    flex-direction: column; /* Alinha elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block; /* Coloca o label acima do input */
    margin-bottom: 5px;
}

input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#error {
    color: red;
    margin-top: 10px;
}